<configuration>
  <appSettings>
    <add key="Server-Log" value="AdaptiveServer"/>
    <add key="IP-Address" value="127.0.0.1"/>
    <add key="TCP-Port" value="1234"/>
    <add key="Console-Log" value="AdaptiveServerAdminConsole"/>
    <add key="Cache-Log" value="AdaptiveCacheService"/>
  </appSettings>
</configuration>